Django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
dj-database-url
whitenoise
pillow
cloudinary
django-cloudinary-storage
razorpay
requests
PyJWT
asgiref
certifi
charset-normalizer
idna
six
sqlparse
urllib3
gunicorn
